.header-top{
    display: flex;
    column-gap: 20px;
    height:45px;
    background-color: white;
    padding-top: 5px;
    padding-left: 15px;
}
body{
    background-color:#F3F3F3;
    margin: 0;
    padding: 0;
}
.header-button{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;   
}
.header-inner{
    height:60px;
    background-color: white;
    border-radius: 8px;
    margin-left: 20px;
    margin-top: 20px;
    text-align: center;
}
.header-btn{
    color:white;
    background-color: #FF76B6 ;
    border-radius: 8px;
    cursor: pointer;
    border: none;
    height: 40px;
    margin: 10px;
    padding: 10px;
    align-items: center;
    justify-content: center;
}
.header-download{
    color:white;
    background-color: #FF69b4;
    border-radius: 8px;
    cursor: pointer;
    border: none;
    height: 40px;
    width:160px;
    margin: 10px;
   margin-left: 950px;
   margin-top: 20px;
   
}
body{
    padding: 0;
    margin: 0;
}
.split{
    width: 90%;
    display: flex;
    column-gap: 30px;
    margin-left: 60px;
    background-color: #FFFFFF;
    border-radius: 8px;
    margin: 50px auto;  
}
.input-field{
    width:30%;
    height:400px;
    margin-top: 50px;
    margin-left: 50px;
    border-right:2px solid lightgrey;
}
.input{
    background-color: #F3F3F3;
    width: 90%;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 5px;
    border: none;
}
.input select{
width: 100%;
}
.label{
    color: gray;
    margin: 5px;
    padding: 5px;
}
.table-data{
    margin-top: 50px;
    width:50% ;
    margin-left: 100px;
    border-radius: 2px;
    border: 1px solid gray; 
    display: block;
    overflow: auto;
    height: 380px; 
}
.bg{
    background-color: #F3F3F3;
    /* display: inline-table; */
    width: 100%;
    display:flex;
    column-gap: 80px;
    font-weight: bold;
    justify-content: center;
}
.firstmap{
    display: flex;
    column-gap: 105px;
    justify-content: center;
    
}
/* .table-data tbody{
    width: 100%;
} */
.split-bonus{
        height:500px;
        width: 90%;
        display: flex;
        column-gap: 30px;
        margin:auto;
        background-color: white;
        border-radius: 8px;
}
.bonus-input-field{
    width:700px;
    height:400px;
    margin-top: 50px;
    margin-left: 50px;
    border-right:2px solid lightgrey;
    
}
.bonus-table{
    width:80%;
    height:80%;
}
.bonus-table-data{
    margin-top: 50px;
    width:50% ;
    margin-left: 100px;
    height: 400px;
    border-radius: 2px;
    border: none;
}
.bonus-table-data th{
    text-align: left;
    color: grey;
}
.bonus-table-data td{
    padding-right:180px; ;
}